---
import "@fontsource-variable/nunito";
import "@/styles/global.css";
import type { AstroSeoProps } from "@astrolib/seo";
import { AstroSeo } from "@astrolib/seo";

interface Props {
  JSON_LD?: string;
  seo?: AstroSeoProps;
}

const { seo, JSON_LD } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth scroll-pt-32 overflow-x-hidden">
  <head>
    <!-- Google Tag Manager -->
    <script src="/gtm.js" async defer is:inline></script>
    <!-- End Google Tag Manager -->
    {JSON_LD && <script is:inline type="application/ld+json" set:html={JSON_LD} />}
    <slot name="head" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" media="(prefers-color-scheme: light)" />
    <link rel="icon" type="image/svg+xml" href="/favicon-white.svg" media="(prefers-color-scheme: dark)" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="https://termly.io" />
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    {seo && <AstroSeo {...seo} />}
    <script src="https://analytics.ahrefs.com/analytics.js" data-key="JBZV/VIldomcmgT9E8p5Ag" async defer is:inline
    ></script>
  </head>
  <body class="font-sans bg-white text-zinc-900">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MZ2LDS5P"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <slot />
  </body>
</html>
