---
interface Props {
  id?: string;
}

const { id } = Astro.props;
---

<div class="border border-border rounded-md">
  <div class="overflow-x-auto max-w-full rounded-md">
    <table id={id} class="w-full table-auto text-left border-collapse border-border rounded-md">
      <slot />
    </table>
  </div>
</div>
