name: Coverage

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Install cargo-tarpaulin
        run: cargo install cargo-tarpaulin

      - name: Generate coverage reports
        run: |
          cargo tarpaulin --workspace --exclude-files "**/main.rs" --out Json --output-dir coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: cyberpath-HQ/sentinel
          flags: rust
          name: codecov-umbrella
          fail_ci_if_error: true
          files: ./target/coverage/tarpaulin/coverage.json
